:root {
    --color-green1: lightgreen;
    --color-white: #fff;
    --color-green2: green;
    --color-grey1: grey;
    --color-orange: orange;
    --color-grey2: lightgrey;
    --color-black: black;
}