.footer .top{
    display: flex;
    justify-content: space-between;
}
.footer .top .top1{
    margin-top: 30px;
    margin-left: 70px;
}
.footer .top .top1 h3,p{
    margin: 10px;
}
.footer .top .top1 p:hover{
    color: var(--color-orange) ;
    cursor: pointer;
}
.footer .top .top2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.footer .top .top2 h3,p{
    margin: 10px;
}
.footer .top .top2 p:hover{
    color: var(--color-orange) ;
    cursor: pointer;
}
.footer .top .top3{
    margin-top: 30px;
    margin-right: 70px;
}
.footer .top .top3 h3,p{
    margin: 10px;
}
.footer .top .top3 p:hover{
    color: var(--color-orange) ;
    cursor: pointer;
}
.footer .bottom{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}
.footer .bottom .bottom1{
    width: 33.3333%;
    padding: 50px;
}
.footer .bottom .bottom2{
    width: 33.33333%;
    margin-top: 30px;
}
.footer .bottom .bottom2 i{
    margin-left: 10px;
}
.footer .bottom .bottom2 i,p{
    padding-left: 10px;
}
 
.footer .bottom .bottom3 {
    display: flex;
    width:  33.33333%;
    align-items: center;
    justify-content: center;
  
}
.footer .bottom .bottom3 img{
    width: 15%;
    height: 15%;
    cursor: pointer;
}